.nav{
    height: 50px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;;
    justify-content: space-evenly;
    align-items: center;
}